<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单提交</title>
</head>
<body>
	<form action="http://127.0.0.1:8000/process_post" method="post" accept-charset="utf-8">
		<label for="name1">
			姓名:
			<input type="text" id="name1" name="f_name">
		</label>
		<br>
		<label for="pwd">
			密码:
			<input type="password" id="pwd" name="password">
		</label>
		<br>
		<textarea name="textarea" rows="3" cols="6"></textarea>
		<br>
		<input type="submit" value="提交">
	</form>
	<hr>
	<form action="http://127.0.0.1:8000/file_upload" method="post" enctype="multipart/form-data">
		<input type="file" name="image" size="50">
		<br>
		<input type="submit" value="上传文件">
	</form>
</body>
</html>